*{
    padding: 0;
    margin: 0;
}

:root{
    --main-background-color: #242943;
    --sec-background-color: #31385c;
    --main-text-color: #dddddd;
}
picture{
    display: flex;
    justify-content: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 50vh;
    width: 100%;
}
.main-img{
    width: 100%;
    animation: Bounce 3s ease 0s 1 normal forwards;
}
.main-img-backround{
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../images/hintergrund-top.jpg);
    background-color: var(--sec-background-color);
}
.Gummi-Glen{
    background-image: url(../images/GummiGlen-GreatHall.png);
    background-color: var(--sec-background-color);
}
.Schloss-Dunwyn{
    background-image: url(../images/Schloss_Dunwyn-Flussansicht.png);
    background-color: var(--sec-background-color);
}
.Schloss-Drekmore{
    background-image: url(../images/Schloss_Drekmore.png);
    background-color: var(--sec-background-color);
}
.info.text{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    font-size: 16px;
    color: var(--main-text-color);
    line-height: 1.4;
}
.info.row{
    min-height: 35vh;
}
.info.row.text:nth-child(2), 
.info.row.text:nth-child(6),
.info.row.text:nth-child(9){
    background: var(--main-background-color);
}
.info.row.text:nth-child(4), 
.info.row.text:nth-child(8){
    background: var(--sec-background-color);
}
#info-check{
    display: none;
}
.info-row-top-text-more{
    display: none;
    transition: 0.5s linear;
}
#info-check:checked ~ .info-row-top-text-more{
    display: block;
}
#info-check:checked ~ label{
    visibility: hidden;
}
#info-check:checked ~ label::after{
    content: 'Show Less';
    display: block;
    visibility: visible;
}
.info-h2{
    display: inline;
    font-family: "Coaster";
    padding: 15px 15px 15px 0px;
    margin: 20px;
    border-bottom: 2px solid var(--main-text-color);
}
.info-p{
    margin: 0px 20px 30px;
}
.info-p-more{
    
    margin: 0px 20px;
}
label{
    display: inline-block;
    color: var(--main-text-color);
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
    margin: 0px 20px 20px;
}
.h1-animation { 
    font-family: monospace;
    overflow: hidden;
    height:1.1em;
    word-wrap: break-word;
    white-space: nowrap;
    animation: typing 4s steps(30) forwards;
  }
@media (min-width: 650px) {
    .info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100vh repeat(5, minmax(40vh, auto));
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
.main-img{
    width: 75%;
}  
.main-img-backround{
    align-items: flex-end;
    grid-column: 1 /span 3;
    grid-row: 1;
    }
.info.row.top.text{
    grid-column: 1 /span 3;
    grid-row: 2;
    }
.Gummi-Glen{
    grid-column: 1;
    grid-row: 3;
}
.info.row.two.text{
    grid-column: 2 /span 2;
    grid-row: 3;
    }
.Schloss-Dunwyn{
    grid-column: 3;
    grid-row: 4;
    }
.info.row.three.text{
    grid-column: 1 /span 2;
    grid-row: 4;
    }
.Schloss-Drekmore{
    grid-column: 1;
    grid-row: 5;
    }
.info.row.four.text{
    grid-column: 2 /span 2;
    grid-row: 5;
    }
.info.row.text.bottem{
    grid-column: 1 /span 3;
    grid-row: 6;
    }
}
@keyframes Bounce {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: scale(0);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: scale(1);
	}

	55% {
		animation-timing-function: ease-in;
		transform: scale(0.7);
	}

	72% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}

	81% {
		animation-timing-function: ease-in;
		transform: scale(0.84);
	}

	89% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}

	95% {
		animation-timing-function: ease-in;
		transform: scale(0.95);
	}

	100% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}
@keyframes typing {
    from {
       width: 0;
    }
    to {
       width: 30ch;
    }
 }