#nav-title {
    font-family: "Coaster";
}
#nav-title {
    margin-right: auto;
    font-size: 1.5em;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

header a {
    text-decoration: none;
    color: #c2c2c2;
    transition: all 0.3s ease 0s;
    font-family: "Coaster";
    font-size: 1.5em;
}

ul li:nth-child(1) a:hover {
  color: rgb(255, 255, 255);
}
ul li:nth-child(2) a:hover {
  color: rgb(255, 255, 255);
}
ul li:nth-child(3) a:hover {
  color: rgb(238, 112, 240);
}
ul li:nth-child(4) a:hover {
  color: rgb(112, 159, 240);
}
ul li:nth-child(5) a:hover {
  color: rgb(157, 112, 240);
}
ul li:nth-child(6) a:hover {
  color: rgb(210, 110, 64);
}
ul li:nth-child(7) a:hover {
  color: rgb(240, 229, 112);
}
ul li:nth-child(8) a:hover {
  color: rgb(130, 68, 27);
}


/* "Hide" checkbox -- moves it off screen*/
#menu-btn {
  position: absolute;
  top: -100%;
  left: -100%;
}

/* Hide hamburger for bigger screens */
.menu-icon {
  visibility: hidden;
}




/* Set width for mobile/smaller screen size. */
/* I set it big here so I don't have to shrink the screen so much */
/* for testing purposes */
@media screen and (max-width: 1100px) {

  header {
    display: grid;
    grid-template-areas:
       "title   title   hamburger"
       "nav     nav     nav";
  }

  h1 {
    grid-area: title;
  }

  nav a {
    text-decoration: none;
    color: rgb(64, 64, 64);
  }

  .menu-btn, nav {
    display: none;
  }

  .menu-icon {

    grid-area: hamburger;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    padding: 30px 20px 30px 0;
    position: absolute;
    user-select: none;
    visibility: visible;
    right: 0;
    z-index: 2;
    transform: scale(1.5);
  }

  .navicon {
    background: #fff;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
  }

  .navicon:before {
    top: 5px;
  }

  .navicon:after {
    top: -5px;
  }

  .navicon:before, .navicon:after {
    background: #fff;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    transition: all .2s ease-out;
  }

  nav {
    left: 0;
    max-height: 0;
    transition: max-height .2s ease-out;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    top: 0;
    width: 100%;
    position: absolute;
    ul {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
  }

  .nav a {
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    background-color: #eee;
    width: 100%;
    text-align: center;
  }

  .menu-btn:checked ~ nav {
    max-height: 550px;
    opacity: 0.8;
  }

  .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
    background-color: #000;
  }

  .menu-btn:checked ~ .menu-icon .navicon:after

  {
    transform: rotate(45deg);
    background-color: #000;
  }

  .menu-btn:checked ~ .menu-icon .navicon:before,
  .menu-btn:checked ~ .menu-icon .navicon:after {
    top: 0;
  }
}
